extends ./layout.jade

block content
  include ../partials/about.jade
  include ../partials/speakers.jade
  include ../partials/exhibit.jade
  include ../partials/partners.jade
  include ../partials/contacts.jade
