extends ./layout/layout.jade

block title
  title Цифровые Джунгли 2017

block header_content
  .cities
    .city
      .city_date 26 февраля
      .city_name Москва
      .city_adress 
        | НИТУ МИСиС
        span  Ленинский проспект, д. 4
      a.btn.btn_wide.ga_msk(href="/msk") Москва
    .city
      .city_date 19 марта
      .city_name Петербург
      .city_adress 
        | Точка Кипения
        span  улица Медиков, д. 3
      a.btn.btn_wide.ga_spb(href="/spb") Петербург

//- block content
//-   section
//-     .container
//-       .partners
//-         //- .partners-row
//-         //-   .partner.org
//-         //-     h2 Организатор мероприятия
//-         //-     a.partner-logo(href="http://digital-banana.ru/")
//-         //-       img(src="./assets/logo-banana-main.png")
            
//-         .partners-row
//-           //- h2 Партнёры

//-           .partner.main
//-             a.partner-logo(href="http://digital-banana.ru/")
//-               img(src="./assets/banana_logo.png")
//-             .partner-title Организатор мероприятия
          

//-           //- .partner.main
//-           //-   a.partner-logo(href="http://misis.ru")
//-           //-     img(src="./assets/msk-logo-misis.png")
//-           //-   .partner-title Организационный партнёр

//-           .partner.main
//-             a.partner-logo(href="https://www.asus.com/ru/")
//-               img(src="./assets/logo-asus.png")
//-             .partner-title Официальный партнёр

//-         .partners-row
//-           h2 Информационные партнёры

//-           .partner.main
//-             a.partner-logo(href="http://mel.fm")
//-               img(src="./assets/logo-mel.png")
//-             .partner-title Генеральный инфопартнёр

//-           .partner.main
//-             a.partner-logo(href="http://kudago.com/msk/")
//-               img(src="./assets/logo-kudago.png")
//-             .partner-title Продвижение в интернете

//-         .partners-row

//-           .partner
//-             a.partner-logo(href="http://timepad.ru")
//-               img(src="./assets/logo-timepad.png")

//-           .partner
//-             a.partner-logo(href="http://aiesec.ru")
//-               img(src="./assets/logo-aiesec.png")

//-           .partner
//-             a.partner-logo(href="http://snt.mos.ru")
//-               img(src="./assets/msk-logo-shnt.png")

//-           .partner
//-             a.partner-logo(href="https://dnevnik.ru")
//-               img(src="./assets/logo-diary.png")

//-           .partner
//-             a.partner-logo(href="http://amoskva.com")
//-               img(src="./assets/logo-amsk.png")

//-   include ./partials/contacts.jade
