section.section-about#about
  .container
    h2.quotes.violet
      | Программа мероприятия
    .section-about_features
      .section-about_feature
        img(src="./assets/badge-1.png")
        a.btn.btn_wide(href="#programm")
          | Лекции
      .section-about_feature
        img(src="./assets/badge-2.png")
        a.btn.btn_wide(href="#programm")
          | Мастер-классы
      .section-about_feature
        img(src="./assets/badge-3.png")
        a.btn.btn_wide(href="#programm")
          | Выставка