section.section-contacts
  .container
    h2.quotes.green Контакты
    //- .contacts_desc Мы с радостью ответим на любые вопросы
    a.contacts_presentation(target="_blank" href="http://digitaljungle.ru/digitaljungle.pdf") Презентация проекта
    .contacts
      a.contact.contact__phone(href="tel:89655984989")
        span +7 (967) 
        | 598 49 89
      a.contact.contact__mail(href="mailto:mail@digital-banana.ru") mail@digital-banana.ru
      a.contact.contact__location(target="_blank" href="https://www.google.com/maps/place/%D0%9A%D0%B0%D0%BD%D1%82%D0%B5%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F+%D1%83%D0%BB.,+2,+%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3,+%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D1%8F,+197342/data=!4m2!3m1!1s0x469633fb57007e2d:0xb758269ce7828837?sa=X&ved=0ahUKEwjfkP66koPRAhWCFiwKHaEYC1YQ8gEIHzAB") Спб, Кантемировская, 2а
    .socials.socials_footer
      a(target="_blank" href="https://vk.com/digitaljungle")
        img(src="../assets/social-vk.svg")
      a(target="_blank" href="https://www.facebook.com/dijungle")
        img(src="../assets/social-facebook.svg")