.header
  .header_fade
  a.header-org.header-org__left(target="_blank" href="http://digital-banana.ru/")
    img(src="./assets/banana_logo.png")
    .header-org_desc организатор мероприятия

  a.header-org.header-org__right(target="_blank" href="http://digitaljungle.ru/digitaljungle.pdf")
      .header-org_mail Презентация проекта
      .header-org_desc что такое Цифровые Джунгли

  .container
    a(href="http://digitaljungle.ru/")
      img.header_logo(src="./assets/logo.png")
    h1 
      | Мы расскажем, кем можно 
      br
      | стать в современном цифровом веке
    .header_desc 
      | Мероприятие для школьников, их родителей
      br
      | и студентов младших курсов
    block header_content

  .header-pics
    .header-pic
      img(src="../assets/head6.jpg" style="min-width: 500px; margin-left: -90px")
    .header-pic
      img(src="../assets/head4.jpg" style="min-width: 500px; margin-top: -90px; margin-left: -90px")
    .header-pic
      img(src="../assets/head5.png")
    .header-pic
      img(src="../assets/head5.jpg" style="margin-top: -90px; margin-left: -100px")
    .header-pic
      img(src="../assets/head1.jpg" style="min-width: 420px; margin-top: -20px; margin-left: -33px;")
    .header-pic
      img(src="../assets/head3.jpg" style="margin-left: -10px")
    .header-pic
      img(src="../assets/head7.jpg")
    .header-pic
      img(src="../assets/head2.jpg" style="min-width: 420px; margin-top: -90px; margin-left: -125px")
    .header-pic
      img(src="../assets/head8.jpg" style="min-width: 420px; margin-top: -90px; margin-left: -100px")

  .socials.social_header
    a(target="_blank" href="https://vk.com/digitaljungle")
      img(src="../assets/vk.png")