section.section-mk#mk
  .container
    h2
      | Мастер-классы

    .schedule
      .schedule-timeline
      ul.schedule-items
        li.schedule-item
          .schedule-item_pic
            img(src="./assets/ASUS_Logo.png")
          .schedule-item_title Собери свой компьютер сам!
          .schedule-item_desc Участники узнают, из каких частей состоит компьютер, за что они отвечают и сами соберут системный блок из составляющих, чтобы в конце запустить его и убедиться, что это совсем несложно
          .schedule-item_time 12:00

        li.schedule-item
          .schedule-item_pic
            img(src="./assets/ASUS_Logo.png")
          .schedule-item_title Собери свой компьютер сам!
          .schedule-item_desc Участники узнают, из каких частей состоит компьютер, за что они отвечают и сами соберут системный блок из составляющих, чтобы в конце запустить его и убедиться, что это совсем несложно
          .schedule-item_time 12:00
